.user-image-sm {
  height: 26px;
  border-radius: 5px;
  float: left;
  margin-right: .2em;
}

.user-image-lg {
  max-width: 100%;
  max-width: 100%;
  border-radius: 5px;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: .5em;
  padding: 0.2em;
}

.link-button:hover,
.link-button:focus {
  text-decoration: underline;
}

Link {
  color: #333;  
}